<!-- <div class="row">
    <div class="footer">
        <div class="container">
            <div class="col-sm-8 clearfix">
                <div class="f_logo">
                    <img src="/images/f_logo.png">
                </div>
                <div class="contact">
                    <p>Tel: 755-33079022</p>
                    <p>Add: 深圳宝安区石岩街道松白路北侧方正科技工业园A3栋4F</p>
                    <p></p>
                </div>
            </div>
            <div class="col-sm-4 clearfix">
                <div class="qrcode">
                    <img src="/images/qr.png">
                    <p>扫一扫，关注诺博医疗微信</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<footer>
    <div class="footer_containter">
        <div class="row">
            <div class="col-md-12">
                <div class="footer_item footer_logo">
                    <img src="/images/f_logo.png">
                </div>
                <div class="footer_item footer_contact">
                    <p>Tel: 755-33079022</p>
                    <p>Add: 深圳宝安区石岩街道松白路北侧方正科技工业园A3栋4F</p>
                    <p>注册号码</p>
                </div>
                <div class="footer_item footer_qr hidden-xs">
                    <img src="/images/qr.png">
                    <p>扫一扫，关注诺博医疗微信</p>
                </div>
            </div>
        </div>
    </div>
</footer>
